/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

#pages-home {
  display: flex;
  justify-content: center;
  align-items: center;
  height:93vh;
  width:100vw;
  background-image: image-url('bg-home-02.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  #birthday-select {
    display: flex;
    flex-direction: row;
    justify-content: center;

    #go-btn {
      width:100%;
      background-color: $blue;
      color:$grey;
      border:1px solid transparent;
      -webkit-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      &:hover {
        font-weight: bold;
        font-size: 1.1em;
        background-color: $grey;
        color:$blue;
        border:1px solid $blue;
      }
    }
  }
}
