/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// separated bar

#separate-bar {
  height:0.7vh;
  width:100vw;
  background-color: $dark-blue;
  img {
    position: absolute;
    left:48.8vw;
    width:2.2em;
    margin-top:-0.93em;
  }
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

// Font

* {
  font-family: 'Roboto', sans-serif !important;
}
