// #profile-show.container {
  // display: flex;
  // justify-content: center;
  // width:100vw;
  // margin:0;

#profile-show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:100vw;
  margin:0;
  padding:0;

  .persos-info-container {
    display: flex;
    flex-direction: row;
    width:100vw;

    .profile-left {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      text-align: right;
      padding:1em 1.5em;
      height:100%;
      width:45vw;
      background-image: image_url('elements/profil-bg.png');
      background-size: 20em;
      background-repeat: no-repeat;
      -webkit-box-shadow: 7px 7px 35px -18px rgba(0,0,0,0.75);
      -moz-box-shadow: 7px 7px 35px -18px rgba(0,0,0,0.75);
      box-shadow: 7px 7px 35px -18px rgba(0,0,0,0.75);
      z-index: 5;
      p {
        margin:0;
      }
      h1 {
        margin:0;
        color:$dark-blue;
        font-size: 1.6em;
        width:8em;
      }
      #info-list{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        #birthday {
          color:$pink;
          font-size: 1.2em;
          margin-top: -0.5em;
          letter-spacing: 1px;
        }
        #location {
          margin-top: -1.5em;
          color:$dark-blue;
        }
        #messenger-btn {
          padding:0.3em 0.7em;
          margin-top:6em;
          font-size: 1em;
          background-color: $dark-blue;
          &:hover {
            text-decoration: none;
          }
        }
        .color-men {
          color:#e2e4e6;
        }
        .color-women {
          color:#f9ebf3;
        }
      }

      #profile-picture {
        width:10em;
        height:11em;
        text-align: center;
        background-color: white;
        box-shadow: 1px 1px 10px 3px rgba($gray,0.1);
        padding:0.5em 0.5em 1em;
        transform: rotateZ(-6deg);
        z-index: 9999;
        margin:3em -2.5em 0 0;
        #avatar {
          width:9em;
        }
        #scotch {
          position: absolute;
          top:-0.9em;
          left:40%;
          width:2.5em;
        }
      }
      #birthday-icon {
        transform: rotateZ(4deg);
        margin:5em -6em 0 0;
        img {
          width:7.5em;
        }
      }
    }
    .profile-right {
      display: flex;
      flex-direction: column;
      width:55vw;
      color:$dark-blue;

      h2 {
        font-size: 1em;
        font-weight: bold;
        margin:0.5em 0;
        text-align: left;
      }
      p {
        width:65%;
        font-size: 0.8em;
        text-align: justify;
        margin-bottom: 0.2em;
      }

      .profile-right-top {
        padding:0.3em 1.5em 0;
        height:53%;
        background-color: #f2eddb;
      }
      .profile-right-bottom {
        padding:0.3em 1.5em 0;
        height:47%;
      }
    }
  }
  .map {
    height:57.03vh;
    width:100vw;
    background-color: black;
  }
}

@media screen and (max-width:992px){
  .persos-info-container {
    flex-direction: column !important;
    box-shadow: 1px 1px 10px 3px rgba($gray,0.1);
  }

  .profile-left {
    width:100vw !important;
    justify-content:center !important;
    padding:1em 1em;
    background-position: 100% 60% !important;
  }
  .profile-right {
    width:100vw !important;
    .profile-right-top {
      -webkit-box-shadow: 7px 7px 35px -18px rgba(0,0,0,0.75);
      -moz-box-shadow: 7px 7px 35px -18px rgba(0,0,0,0.75);
      box-shadow: 7px 7px 35px -18px rgba(0,0,0,0.75);
      z-index: 2;
    }
    .profile-right-top, .profile-right-bottom {
      padding-bottom: 0.5em !important;
    }
    p {
      width:100% !important;
    }
  }
  #messenger-btn {
    display: none !important;
  }
}
